{% extends "template.twig" %}

{% block content %}
<div class="mqtchums-calendar">
    <table>
        <thead>
            <tr><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
        </thead>
        <tbody>
            <tr>
                {% for i in range(1, 7) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(8, 14) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(15, 21) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(22, 28) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(29, 35) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for i in range(36, 42) %}
                    <td>{{ days[i] }}</td>
                {% endfor %}
            </tr>

        </tbody>
    </table>
</div>


{% endblock content %}
